---
layout: main
---
<div class="prepend-2 span-20 append-2 last">
	
	<h3>Projects</h3>
	
	<ul class="panels">
		<li>
			<a href="/waveguide/" style="background-image:url(/images/panels/waveguide.png)">
				<span>WaveGuide for iOS</span>
			</a>
		</li>
		<li>
			<a href="/sotagoat/" style="background-image:url(/images/panels/sotagoat.png)">
				<span>SOTA Goat for iOS</span>
			</a>
		</li>
		
		<li>
			<a href="http://dxlogger.com/" style="background-image:url(/images/panels/dxlogger.png)">
				<span>DX Logger</span>
			</a>
		</li>
		
	</ul>
	
	<div class="clear" style="height:2em"></div>
	
	<h3>Resources</h3>
	
	<ul class="panels">
		<li>
			<a href="/portable/" style="background-image:url(/images/panels/portable.png)">
				<span>DIY Portable</span>
			</a>
		</li>
	</ul>
	
	<div class="clear" style="height:2em"></div>
	
	<h3>Updates</h3>
	<ul class="panels">	
		{% for post in site.posts %}
			{% if post.archived != true %}
				<li>
					<a href="{{ post.url }}" style="background-image:url(images/posts/{{ post.date | date format: '%Y-%m-%d' }}.jpg)">
						<span>{{ post.title }}</span>
					</a>
				</li>
			{% endif %}
		{% endfor %}	
	</ul>

	{% include disqus-comment-count.html %}

	<div class="clear"></div>
	<p style="font-size:1.25em; margin: 1.5em 0">
		<a href="/archive.html">View all posts</a>
	</p>
</div>