---
layout: main
---
<div class="prepend-2 span-20 append-2 last">	
	<ul class="panels">	
		{% for post in site.posts %}
			{% if post.archived != true %}
				<li>
					<a href="{{ post.url }}" style="background-image:url(images/posts/{{ post.date | date format: '%Y-%m-%d' }}.jpg)">
						<span>{{ post.title }}</span>
					</a>
				</li>
			{% endif %}
		{% endfor %}	
	</ul>

	{% include disqus-comment-count.html %}

	<div class="clear"></div>
	<p style="font-size:1.25em; margin: 1.5em 0">
		<a href="/archive.html">View all posts</a>
	</p>
</div>