body, p {
	color: #666;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

p {
	margin-bottom: 1em;
}

#ipad-thumbs a {
	display: block;
	float: left;
	padding: 7px;
	margin-bottom: 1em;
}

#ipad-thumbs a:hover, 
#iphone-thumbs a:hover {
	padding: 6px;
}

#ipad-thumbs a:hover, 
#iphone-thumbs a:hover {
	background-color: #EEE;
	border: 1px solid #DDD;
}

#iphone-thumbs a {
	display: block;
	float: left;
	padding: 5px 28px;
}

#iphone-thumbs a:hover {
	padding: 4px 27px;
}

a {
	cursor: pointer;
	text-decoration: none;
}