<!DOCTYPE html>
<html>
<head>
	<title>WW1X {% if page.title %} &ndash; {{ page.title }} {% endif %}</title>
	
	<link rel="alternate" title="{{ page.site_title }}" type="application/atom+xml" href="/atom.xml">
	
	<link rel="stylesheet" href="/styles/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/styles/blueprint/print.css" type="text/css" media="print">	
	<!--[if IE]><link rel="stylesheet" href="/styles/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	
	<link rel="stylesheet" href="/styles/main.css" type="text/css">
	<link rel="stylesheet" href="/waveguide/stylesheets/jquery.lightbox-0.5.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
	<script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
	<script src="/waveguide/scripts/jquery.lightbox-0.5.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/waveguide/scripts/waveguide.js" type="text/javascript" charset="utf-8"></script>
	
	<!-- Google Analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-4760872-10']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
</head>
<body onload="initialize()">
	

	<div class="container" id="hd">
		
	</div>
	
	<div class="container" id="nv">
		
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/waveguide/">WaveGuide for iOS</a></li>
			<li><a href="/sotagoat/">SOTA Goat for iOS</a></li>
			<li><a href="http://dxlogger.com/">DX Logger</a></li>
			<div style="float:right">
				<li><a href="http://qrz.com/db/WW1X">QRZ.com</a></li>
				<li><a href="http://www.youtube.com/playlist?list=PL1A7BB56F52CF7701">YouTube</a></li>
				<li><a href="http://twitter.com/WW1X/">Twitter</a></li>
			</div>
		</ul>
		
	</div>
	
	<div class="container" id="bd">
			
		{{ content }}
			
	</div>
	
	
	<div class="container" id="ft">
		All content &copy; {{ site.time | date format: '%Y' }} <a href="http://rockwellschrock.com/">Rockwell Schrock</a>, 
		<a href="http://ww1x.com">WW1X</a>
		&mdash;
		
		<script type="text/javascript">
		//<![CDATA[
		<!--
		var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
		"=48){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
		".substr(0,ol);}f(\")01,\\\"U]WBHWt\\\\HZ010\\\\310\\\\000\\\\L130\\\\Q()530" +
		"\\\\-8d{400\\\\:96z+c&'710\\\\?.n720\\\\w,$3/1da630\\\\,/\\\\\\\\020\\\\Er\\"+
		"\\LMyIT410\\\\Z@_[P]r\\\\r020\\\\JNXA010\\\\F230\\\\700\\\\410\\\\MNDTvld<e" +
		"~jcxodn\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=" +
		"%y;i=+y)01==i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcn" +
		"uf\")"                                                                       ;
		while(x=eval(x));
		//-->
		//]]></script>
		
		&mdash;
		
		Powered by <a href="http://jekyllrb.com/">Jekyll</a>.
	</div>
	
</div>

</body>
</html>
