body {
	color: #333333;
	margin: 0;
	background-color: #EEEEEE;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

.quiet {
	color: #999999;
}

div#hd {
	height: 166px;
	background-image: url('/images/banner1.jpg');
}

div#hd h1 {
	display: none;
	visibility: hidden;
}

div#bd {
	background-color: #FFFFFF;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	font-size: 1.25em;
}

div#nv {
	background-color: #1a4ea8;
}

div#nv ul {
	list-style: none;
	margin: 0;
}

div#nv ul li {
	display: block;
	float: left;
}

div#nv ul li a {
	display: block;
	margin: 0;
	padding: 0.5em 2em;
	color: #c8dcff;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 0.9em;
	text-decoration: none;
}

div#nv ul li a:hover {
	background-color: #87a7dd;
	color: #FFFFFF;
}

a {
	color: #609232;
	text-decoration: underline;
}

a:hover, a:focus {
	color: #000000;
}

a.invisible {
	color: inherit;
	text-decoration: inherit;
}

a.invisible:hover, a.invisible:focus {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: 1.25em;
}

div.yearCallout {
	border: 1px solid #eea; 
	padding: 1.5em 2em 0 2em; 
	margin-bottom: 2em; 
	background-color:#ffd;
}

div.yearCallout h1 {
	font-size: 1.5em;
}

div#twitter_div ul {
	list-style: none;
	margin: 0;
}

div#twitter_div ul li {
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 1.5em;
	margin-top: 1.5em;
}

a#twitter-link {
	margin-top: 1.5em;
}

div.indexPost {
	margin-bottom: 3em;
	padding-bottom: 3em;
	border-bottom: 1px solid #CCCCCC;
}

div#ft {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

div#ft, div#ft a {
	color: #999999;
}

div#ft a:hover {
	color: #000000;
}

blockquote.big {
	font-family: Georgia, "Times New Roman";
	font-size: 1.5em;
	color: #999999;
}

p img {
	float: none;
	margin: 0;
}

ul.archive {
	list-style: none; 
	margin: 1.5em 0;
}

ul.archive li {
	margin-bottom: 1em;
}

ul.archive li a {
	font-size: 1.25em;
	font-weight: bold;
}

/*** panels ***/

ul.panels {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.panels li {
	display: block;
	float: left;
	margin: 5px;
	position: relative;
}

ul.panels li a {
	background-position: center;
	display: block;
	width: 385px;
	height: 200px;	
	text-decoration: none;
	background-color: #666;
}

ul.panels a span {
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	font-size: 1.25em;
	padding: 0.25em 0.75em;
	background-image: url(/images/overlay-bg.png);
	background-repeat: repeat;
	position: absolute;
	display: block;
	bottom: 0.5em;
}

ul.panels a:hover span {
	background-color: #000;
}

/*** WaveGuide ***/

#ipad-thumbs a {
	display: block;
	float: left;
	padding: 7px;
	margin-bottom: 1em;
}

#ipad-thumbs a:hover, 
#iphone-thumbs a:hover {
	padding: 6px;
}

#ipad-thumbs a:hover, 
#iphone-thumbs a:hover {
	background-color: #EEE;
	border: 1px solid #DDD;
}

#iphone-thumbs a {
	display: block;
	float: left;
	padding: 5px 28px;
}

#iphone-thumbs a:hover {
	padding: 4px 27px;
}